<div class="row">
  <div class="col-sm-11">
    <form [formGroup]="formGroup" class="form-container">

      <ng-container *ngIf="categories.length !== 0; else loading">
        <app-category-selector [formControlName]="'category'" [categories]="categories"></app-category-selector>
        <app-category-selector *ngIf="subCategories.length !== 0" [formControlName]="'subCategory'" [categories]="subCategories"></app-category-selector>
      </ng-container>
      
      <select [formControlName]="'difficulty'">
        <option>Select difficulty</option>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>

      <button
        class="primary"
        [disabled]="formGroup.invalid"
        (click)="createQuiz()">Create</button>
    </form>
  </div>
  <pre>{{ formGroup.value | json }}</pre>

</div>
<div class="row">
   <app-quiz [questions]="questions$ | async" [category]="selectedSubCategory || selectedCategory" [difficulty]="formGroup.value.difficulty!"></app-quiz>
</div>

<ng-template #loading>
  <i>Loading Categories...</i>
</ng-template>
