.input {
    margin-bottom: 0;
    width: 15em;
}

.list {
    border: 1px solid lightgray;
    background-color: white;
    width: 15em;
    max-height: 20em;
    padding: 0;
    margin-left: 0;
    margin-top: 0;

    overflow-y: auto;
}

.list__item {
    list-style: none;
    border-bottom: 1px dashed black;
    height: 2em;
}


.list__item:hover {
    background-color: lightblue;
    cursor: pointer;
}